# Python
__pycache__/
*.py[cod]
.venv/

# Build output
dist/
*.deb
*.AppImage
packaging/deb-root/
packaging/AppDir/
packaging/wheel-cache/
packaging/media-cache/

# Logs
*.log

# Editors and operating systems
.vscode/
.idea/
*.swp
.DS_Store
.venv-x86_64/
packaging/macos-cache/
packaging/media-cache-*/
packaging/wheel-local-*/
